ft_models/intel-extension-for-transformers/.git/objects/pack/pack-9fa0101321c4373ba02f4e1a26eb3b7c1546f9ef.pack
data/f_traind_v1.csv



# ft_models/*
# data/*




# find ./ -size +60M 
# git config http.postBuffer 524288000
# git rm -rf --cached ./
